*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
     /* ! Set font size for easy rem calculations
        ! default document font size = 16px, 1rem = 16px, 100% = 16px
    ! (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px */
}
  /* ! mobile version
  @media (max-width: 360px) {
    #landing {
      height: 75vh;  
    }
} */
h1{
    color: #211f1f;
    font-size: 20px;
    text-align: center;
    padding: 20px 50px 20px 50px;
}
p{
    font-size: 12px;
    text-align: center;
    padding: 20px 0 0 0;
}
h2{
    color: #211f1f;
    font-size: 13px;
    text-align: center;
    padding: 20px 50px 10px 50px;
}
.input-box {
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #d3d3d3;
    border: none;
    border-radius: 8px;
    margin: 0 auto;
    font-size: 10px;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.container{
    margin: 3px auto;
    font-size: 11px;
}
.file-chose{
    margin: 3px auto;

}
#donate-now-btn {
    padding: 1rem;
    margin: 3rem auto;
    font-size: 1.5rem;
    width: 14.5rem;
    border: none;
    border-radius: 1.4rem;
    color: #fbf9f9;
    background-color: #1a1919;
  }
.a-donate{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}